@keyframes carousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-carousel {
  animation: carousel 30s linear infinite;
}

.carousel-container {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  overflow-x: hidden;
  padding: 1rem 0;
}

.carousel-container > div {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.carousel-container > div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media (max-width: 768px) {
  .carousel-container {
    margin: 0 -1rem;
    padding: 1rem;
  }
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Extralight.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Extralight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Medium.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby Round CF Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Demibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Extrabold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("fonts/Visby_Round_CF/Visby\ Round\ CF\ Heavy.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Apply the font globally */
body {
  font-family: "Visby Round CF", sans-serif;
}

/* Remove any other font-family declarations */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
input,
textarea {
  font-family: "Visby Round CF", sans-serif !important;
}

.carousel-container {
  overflow-x: hidden;
  padding: 1rem 0;
}

@media (max-width: 480px) {

  /* Adjust button sizing */
  button {
    width: 100%;
  }

  /* Adjust carousel */
  .carousel-container {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .min-w-350 {
    min-width: 280px;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out 2s infinite;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.slide-in {
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}

.scale-in {
  opacity: 0;
  animation: scaleIn 0.5s ease-out forwards;
}

/* Add animation delays */
.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-400 {
  animation-delay: 400ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.section8 {
  height: auto;
  background-color: rgba(0, 2, 8, 1);
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.blue-ellipse {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  height: 50vh;
}

.red-ellipse {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
}

.text11 {
  font-weight: 300;
  line-height: 66.22px;
  letter-spacing: -0.05em;
  text-align: center;
  background: linear-gradient(99.68deg, #ffeffb 17.96%, #42285d 92.04%);
  color: transparent;
  background-clip: text;
  padding-bottom: 15px;
  margin-bottom: 10px;
  z-index: 120;
  position: relative;
}

.text12 {
  font-weight: 300;
  line-height: 66.22px;
  letter-spacing: -0.05em;
  text-align: center;
  background: linear-gradient(99.68deg, #ffeffb 17.96%, #42285d 92.04%);
  color: transparent;
  background-clip: text;
  padding-bottom: 15px;
  margin-top: 30px;
  z-index: 120;
}

.container2 {
  z-index: 89;
}

@media (max-width: 768px) {
  .red-ellipse {
    height: 100vh;
  }
}
