.section8 {
  width: 100%;
  height: auto;
  background-color: rgba(0, 2, 8, 1);
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.blue-ellipse {
  position: absolute;
  right: 10%;
  bottom: 0;
  z-index: 3;
}

.red-ellipse {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
  min-height: 640px;
}

.text11 {
  font-size: 58px;
  font-weight: 300;
  line-height: 66.22px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
  background: linear-gradient(99.68deg, #FFEFFB 17.96%, #42285D 92.04%);
  color: transparent;
  background-clip: text;
  padding-bottom: 15px;
  z-index: 120;
  position: relative;
  margin: 0px auto;
}

.container2 {
  z-index: 89;
}

.transparent,
#transparent {
  background-color: transparent;
  text-align: center;
}

.btn1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 37.25px;
  text-align: center;
  background: rgba(166, 147, 250, 0.15);
  border-radius: 100px;
  color: rgb(255, 255, 255, 1);
  padding: 40px;
  width: auto;
  z-index: 98;
  position: relative;
  border: 1px solid #580073;
  cursor: pointer;
}

.div2 {
  margin-top: 50px;
  z-index: 100;
}